:root {
    --color-background-002: #F3F6FF;
    --color-background-003: #F3F6FF;
    --color-background-004: #FFFFFF;
    --color-background-005: #EFF2FC;
    --color-hoover-001: initial;
    --color-gray-000: #FFFFFF;
    --color-gray-100: #F3F6FF;
    --color-gray-200: #EFF2FC;
    --color-gray-300: #E2E5F1;
    --color-gray-400: #D4D7E5;
    --color-gray-500: #B4B7C9;
    --color-gray-600: #9397AD;
    --color-gray-700: #565973;
    --color-gray-800: #33354D;
    --color-gray-900: #0B0F19;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #EFF2FC;
    --color-theme: #6366F1;
    --color-danger: #EF4444;
    --color-danger-dark: #e57e88;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;
    --color-transparent: transparent;
    --color-standard: "Manrope", sans-serif;
}

:root.dark {
    --color-background-002: #151922;
    --color-background-003: #2C2F38;
    --color-background-004: #1E222B;
    --color-background-005: #1E222B;
    --color-hoover-001: #1E222B;
    --color-gray-000: #0B0F19;
    --color-gray-100: #0D0D0D;
    --color-gray-200: #1A1A1A;
    --color-gray-300: #4D4D4D;
    --color-gray-400: #666666;
    --color-gray-500: #808080;
    --color-gray-600: #808080;
    --color-gray-700: #B3B3B3;
    --color-gray-800: #D9D9D9;
    --color-gray-900: #FFFFFF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-theme: #6366F1;
    --color-danger: #EF4444;
    --color-danger-dark: #e57e88;
    --color-success: #22C55E;
    --color-warning: #FFBA08;
    --color-info: #4C82F7;
    --color-transparent: transparent;
    --color-standard: "Manrope", sans-serif;
}

$transparent: transparent;
$white: #FFFFFF;
$gray-100: #F3F6FF;
$gray-200: #EFF2FC;
$gray-300: #E2E5F1;
$gray-400: #D4D7E5;
$gray-500: #B4B7C9;
$gray-600: #9397AD;
$gray-700: #565973;
$gray-800: #33354D;
$gray-900: #0B0F19;
$black: #000000;
$danger: #EF4444;
$success: #22C55E;
$warning: #FFBA08;
$info: #4C82F7;

$theme: #6366F1;
$theme-secondary: #8B5CF6;
$theme-opacity: #6365f114;
$theme-gradient: linear-gradient(90deg, #6366F1 0%, #8B5CF6 50%, #D946EF 100%);
$theme-gradient-background: linear-gradient(-1deg, rgba(99, 101, 241, 0.10) 0%, rgba(216, 70, 239, 0.05) 45%, rgba(241, 244, 253, 0.07) 75%);

@mixin shadow-s {
    box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
}
@mixin shadow-m {
    box-shadow: 0px 4px 9px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
}
@mixin shadow-l {
    box-shadow: 0px 4px 13px -2px rgba(19, 16, 34, 0.06), 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.10);
}
@mixin theme-shadow {
    box-shadow: 0px 8px 18px -8px rgba(99, 102, 241, 0.90);
}
@mixin theme-secondary-shadow {
    box-shadow: 0px 8px 18px -8px rgba(19, 16, 34, 0.15);
}


