.error-page {
    background: var(--color-gray-000);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;

    .container {
        max-width: 500px;

        @include lg {
            padding-top: 100px;
        }

        .error-image {
            max-width: 100%;
            height: auto;
        }

        h1 {
            @include d5;
        }

        p {
            
            @include lg {
                
                @include text-xl;
            }
        }

        .btn {
            display: inline-flex;
            align-items: center;

        }
    }
}
