footer {
    background-color: var(--color-gray-000);
    transition: background-color 0.3s ease;
    padding: 20px 15px;
    @include text-s;


    .container {
        width: 100%;
        text-align: center;

        @include xl {
            width: 50%;
        }

        .social-media {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            margin-bottom: 30px;
        }

        span {
            display: none;

            @include md {
                display: inline;
            }
        }
    }
}
