.subscribers {
    background-color: var(--color-gray-000);
    height: 100%;

    .container {
        padding-top: 2rem;


        .text-center {
            padding-bottom: 3rem;
        }

        .table-responsive {
            overflow-x: auto;

            @include md {
                width: 90%;
                margin: 0 auto;
            }

            @include lg {
                width: 70%;
            }

            @include lg {
                width: 60%;
            }

            @include xxl {
                width: 100%;
            }

            .button-group {
                padding-bottom: 2rem;

                @include sm {
                    display: inline-block;
                }
            }

            .table {

                th, td {
                    background-color: var(--color-gray-000);
                    color: var(--color-text-001);
                    padding: 0.75rem;
                    vertical-align: top;

                    @include md {
                        border-top: 1px solid var(--color-gray-900);
                    }
                }

                thead th {
                    vertical-align: bottom;
                    border-bottom: 2px solid var(--color-gray-900);
                }

                th {
                    text-align: left;
                    color: var(--color-gray-900);
                }

                .col-daily-newsletter,
                .col-advertising-updates,
                .col-event-updates,
                .col-week-in-review,
                .col-startups-weekly,
                .col-podcasts,
                .col-is-registered-user,
                .col-action {
                    display: none;
                }

                @include md {
                    .col-action {
                        display: table-cell
                    }
                }

                @include xxl {
                    .col-daily-newsletter,
                    .col-advertising-updates,
                    .col-event-updates,
                    .col-week-in-review,
                    .col-startups-weekly,
                    .col-podcasts,
                    .col-is-registered-user {
                        display: table-cell;
                    }
                }

                .col-email {

                    .details-btn {

                        @include md {
                            display: none;
                        }
                    }
                }

                .details-btn-2 {
                    display: none;

                    @include md {
                        display: inline-block;
                    }
                }
            }
        }
    }
}
