<section class="error-page">
    <div class="container">
        <img src="/Assets/Images/Common/404-image.svg" alt="Account Icon" class="error-image" />
        <h1>Ooops!</h1>
        <p>The page you are looking for is not available.</p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-theme"><img src="/Assets/Icons/ui/account-icon.svg" alt="Account Icon" class="icon" /> Go to homepage</a>
    </div>
</section>