<section class="error-page">
    <div class="container">
        <h1>Ooops! Access Denied</h1>
        <p>You are not authorized to view this page</p>
        <a href="@Url.Action("Index", "Home")" class="btn btn-theme"><img src="/Assets/Icons/ui/account-icon.svg" alt="Account Icon" class="icon" /> Go to homepage</a>
    </div>
</section>