.course-search {
    background: var(--color-gray-000);
    padding: 1rem;

    .container {

        .breadcrumb {
            display: flex;
            justify-content: center;
            margin-bottom: 0.5rem;

            @include lg {
                justify-content: left;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: var(--color-gray-600);

                i {
                    margin-right: 5px
                }
            }

            .breadcrumb-separator {
                margin: 0 0.5rem;
                color: var(--color-gray-600);
            }

            .active {
                color: var(--color-text-001);
            }
        }

        .course-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include lg {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.5rem;
            }

            h1 {
                margin-bottom: 1rem;

                @include lg {
                    margin-bottom: 0;
                    text-align: left;
                    flex: 1;
                }
            }

            .search-controls {
                display: flex;
                flex-direction: column;
                width: 100%;

                @include lg {
                    flex-direction: row;
                    flex: 2;
                    align-items: center;
                    justify-content: flex-end;
                }

                select {
                    background-color: var(--color-background-004);
                    width: 100%;
                    color: var(--color-gray-700);
                    border: 1px solid var(--color-gray-400);
                    padding: 0.5rem;
                    margin-bottom: 0.5rem;
                    border-radius: 0.25rem;

                    @include lg {
                        width: auto;
                        margin-right: 1rem;
                    }
                }

                .search-wrapper {
                    position: relative;

                    @include lg {
                        width: auto;
                        margin-right: 1rem;
                    }

                    .search-input {
                        background-color: var(--color-background-004);
                        width: 100%;
                        color: var(--color-gray-700);
                        border: 1px solid var(--color-gray-400);
                        padding: 0.5rem;
                        margin-bottom: 0.5rem;
                        border-radius: 0.25rem;
                    }

                    .search-icon {
                        position: absolute;
                        right: 25px;
                        top: 15px;
                        pointer-events: none;
                    }
                }
            }
        }
    }
}
