.saved-course-section {
    background-color: var(--color-gray-000);
    height: 100%;

    .container {

        #account {
            @include lg {
                display: grid;
                grid-template-columns: 2fr 5fr;
                gap: 150px;
            }

            .saved-item-card {
                margin-top: 30px;

                .saved-item-header {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding-bottom: 50px;

                    @include lg {
                        flex-direction: row;
                        align-items: center;
                        text-align: left;
                        justify-content: space-between;
                    }

                    h2 {
                        color: var(--color-gray-900);
                        flex: 2;

                        @include xl {
                            flex: 3;
                        }
                    }

                    form {
                        flex: 1;


                        .btn {
                            border: 1px solid var(--color-danger);
                            color: var(--color-danger);
                            font-weight: 600;
                            transition: 0.3s ease-in-out;

                            &:hover {
                                background: var(--color-gray-300);
                            }
                        }
                    }
                }
            }
        }
    }
}
