#account {
    background-color: var(--color-gray-000);

    aside {
        @include lg {
            border-right: 1px solid var(--color-gray-300);
            padding-right: 20px;
        }

        .profile-info {
            text-align: center;

            @include lg {
                margin: 20px;
            }

            .image-overlay {
                position: relative;
                width: 110px;
                height: 110px;
                margin: auto;
                background: var(--color-background-008);
                border-radius: 50%;

                .user-avatar {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                    transition: 0.3s ease-in-out;
                }

                .change-icon-overlay {
                    position: absolute;
                    bottom: -15px;
                    right: -15px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    opacity: 0;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &:hover {
                    border-color: #ffffff;
                    transition: 0.3s ease-in-out;

                    .user-avatar {
                        opacity: 0.6;
                        transition: 0.3s ease-in-out;
                    }

                    .change-icon-overlay {
                        opacity: 1;
                        transition: 0.3s ease-in-out;
                    }
                }
            }

            h5 {
                margin-top: 15px;
                margin-bottom: 0;
            }

            p {
                @include text-m;
            }
        }

        nav {
            margin-top: 50px;

            a {
                margin: 10px 0;

                @include lg {
                    text-align: left;
                    justify-content: flex-start;
                }

                .active-icon {
                    color: var(--color-white);
                }

                .inactive-icon {
                    color: var(--color-gray-600);
                }
            }
        }
    }
}
