form {
    width: 100%;
    display: grid;

    .input-group {
        display: grid;
        padding-bottom: 0.7rem;

        @include md {
            padding-bottom: 0;
        }
    }

    .checkbox {

        span {
            display: block;

            &.field-validation-error {
                position: static;
                top: 0;
                right: 0;
                @include text-s;
                color: var(--color-danger);
            }
        }
    }

    .checkbox-group {
        position: relative;


        .input-group {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;

            input[type="checkbox"] {
                height: 1.5rem;
                width: 1.5rem;

                &.input-validation-error {
                    position: relative;
                    box-shadow: 0 0 0 0.063rem var(--color-danger);
                    color: var(--color-danger);

                    &::placeholder {
                        color: var(--color-danger);
                    }
                }
            }

            label {
                margin: 0;
                font-weight: 400;
            }
        }

        span {
            position: relative;

            &.field-validation-error {
                @include text-s;
                color: var(--color-danger);

                &::after {
                    display: none;
                }
            }

            &.field-validation-valid {
                @include text-s;
                color: var(--color-success);

                &::after {
                    display: none;
                }
            }
        }
    }

    label {
        margin-bottom: 0.188rem;
        font-weight: 700;
    }

    input, select, textarea {
        background-color: var(--color-background-004);
        color: var(--color-gray-500);
        padding: 1rem;
        border-radius: 0.5rem !important;
        border: 0.063rem solid var(--color-gray-400);

        &::placeholder {
            opacity: 0.8;
        }

        &.input-validation-error {
            position: relative;
            border: 0.063rem solid var(--color-danger) !important;
            color: var(--color-danger) !important;

            &::placeholder {
                color: var(--color-danger);
            }
        }

        &.input-validation-success {
            position: relative;
            border: 0.063rem solid var(--color-success) !important;
            color: var(--color-success) !important;

            &::placeholder {
                color: var(--color-success);
            }
        }

        &:focus {
            outline: none;
            border: 0.063rem solid var(--color-gray-600);
        }
    }

    textarea {
        padding: 1rem;
        border-radius: 0.5rem !important;
        border: 0.063rem solid var(--color-gray-400);
        resize: none;

        &::placeholder {
            opacity: 0.4;
        }

        &.input-validation-error {
            border: 0.063rem solid var(--color-danger) !important;
            color: var(--color-danger);

            &::placeholder {
                color: var(--color-danger);
            }
        }
    }

    span {

        &.field-validation-error {
            position: absolute;
            @include text-s;
            color: var(--color-danger) !important;
            top: 90%;
            right: 0;

            @include md {
                top: 100%;
            }

            &::after {
                position: absolute;
                z-index: 10;
                font-size: 2rem;
                display: block;
                content: '\2BBF';
                right: 5px;
                top: -40px;
            }
        }
    }
}
