@model AvailableCoursesViewModel

@await Html.PartialAsync("/Views/AvailableCourses/Sections/CourseSearch.cshtml", Model.CourseSearch)

<div class="course-list-page">
    <div class="container">
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <div class="alert alert-danger">
                @Model.ErrorMessage
            </div>
        }
        else
        {
            @await Html.PartialAsync("/Views/Shared/_CoursesPartial.cshtml", Model.Courses.Courses)
        }
    </div>
</div>

@await Html.PartialAsync("/Views/AvailableCourses/Sections/GetStarted.cshtml", Model.GetStarted)