@model AccountSecurityViewModel

<div class="security-section">
    <div class="container">
        <section id="account">
            @await Html.PartialAsync("_SidebarPartial")

            <div class="details">
                <section class="security-info">
                    @await Html.PartialAsync("ChangePassword", Model.ChangePassword)
                    @await Html.PartialAsync("DeleteAccount", Model.DeleteAccount)

                </section>
            </div>
        </section>
    </div>
</div>
@await Html.PartialAsync("_ValidationScriptPartial")

@section Scripts {
    @await Html.PartialAsync("_ToastMessages")
}