@model AccountChangePasswordViewModel

<form id="securityForm" method="post" asp-controller="Account" asp-action="ChangePassword">

    <h2>Security</h2>
    <h5>Password</h5>

    <div class="content">
        <div id="form-current_password" class="input-group">
            <label asp-for="CurrentPassword"></label>
            <input asp-for="CurrentPassword" />
            <span asp-validation-for="CurrentPassword"></span>
        </div>

        <div id="form-new_password" class="input-group">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div id="form-confirm" class="input-group ">
            <label asp-for="ConfirmNewPassword"></label>
            <input asp-for="ConfirmNewPassword" />
            <span asp-validation-for="ConfirmNewPassword"></span>
        </div>
        <div class="form-buttons">
            <button id="cancelSecurity" class="btn-gray" type="button">Cancel</button>
            <button class="btn-theme" type="submit">Change password</button>
        </div>
    </div>
</form>